{% extends 'admin/layout/base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
{% include 'admin/components/breadcrumb.html' %}
<form action="" method="POST">
    <label for="">Tiêu đề trang web</label>
    <input type="text" class="form-control">
    <label for="">Dòng mô tả</label>
    <input type="text" class="form-control">
    <label for="">Biểu tượng trang web</label>
    <input type="text" class="form-control">
    <label for="">Địa chỉ Flask (URL)</label>
    <input type="text" class="form-control">
    <label for="">Địa chỉ trang web (URL)</label>
    <input type="text" class="form-control">
    <label for="">Địa chỉ email quản trị</label>
    <input type="text" class="form-control">
    <label for="">Tư cách thành viên</label>
    <input type="text" class="form-control">
    <label for="">Vai trò của thành viên mới</label>
    <input type="text" class="form-control">
    <label for="">Ngôn ngữ của trang</label>
    <input type="text" class="form-control">
    <label for="">Múi giờ</label>
    <input type="text" class="form-control">
    <label for="">Định dạng ngày tháng</label>
    <input type="text" class="form-control">
    <label for="">Định dạng thời gian</label>
    <input type="text" class="form-control">
    <label for="">Tuần mới bắt đầu vào</label>
    <input type="text" class="form-control">
</form>
{% endblock %}