{% extends 'admin/layout/auth.html' %}
{% block title %}Đăng nhập{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
<div class="border p-4 rounded">
    <div class="text-center">
        <h3 class="">Đăng nhập</h3>
        <p>Bạn chưa có tài khoản? <a href="{{ url_for('admin.register') }}">Đăng ký tại đây</a></p>
    </div>
    <div class="d-grid">
        <a class="btn my-4 shadow-sm btn-white" href="javascript:;">
            <span class="d-flex justify-content-center align-items-center">
                <img class="me-2" src="{{ url_for('static', filename='admin/images/icons/search.svg') }}" width="16" alt="Image Description">
                <span>Đăng nhập bằng Google</span>
            </span>
        </a>
        <a href="javascript:;" class="btn btn-facebook"><i class="bx bxl-facebook"></i>Đăng nhập bằng Facebook</a>
    </div>
    <div class="login-separater text-center mb-4">
        <span>HOẶC ĐĂNG NHẬP BẰNG EMAIL</span>
        <hr/>
    </div>
    <div class="form-body">
        <form class="row g-3" method="post" action="{{ url_for('admin.login') }}">
            {{ form.csrf_token }}
            <div class="col-12">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", placeholder="example@gmail.com") }}
            </div>
            <div class="col-12">
                {{ form.password.label(class="form-label") }}
                <div class="input-group" id="show_hide_password">
                    {{ form.password(class="form-control border-end-0", placeholder="Mật khẩu") }}
                    <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Nhớ tôi</label>
                </div>
            </div>
            <div class="col-md-6 text-end">	<a href="{{ url_for('admin.forgot_password') }}">Quên mật khẩu ?</a>
            </div>
            <div class="col-12">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary"><i class="bx bxs-lock-open"></i>Đăng nhập</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<!--Password show & hide js -->
<script>
    $(document).ready(function () {
        $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass("bx-hide");
                $('#show_hide_password i').removeClass("bx-show");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass("bx-hide");
                $('#show_hide_password i').addClass("bx-show");
            }
        });
    });
</script>
{% endblock %}