<form method="POST" action="{% if not term %} {{ url_for('admin.terms', page_type=page_type) }} {% else %} {{ url_for('admin.term_edit', page_type=page_type, term_id=term.id) }} {% endif %}" class="row row-cols-1 gy-2">
    {{ form.csrf_token }}
    <div class="col fw-bold"></div>
    <div class="col">
        {{ form.name.label(class="form-label", for="title") }}
        {{ form.name(id="title") }}
        {% if form.name.errors %}
            <div class="text-danger">{{ form.name.errors[0] }}</div>
        {% endif %}
    </div>
    <div class="col">
        {{ form.slug.label(class="form-label") }}
        {{ form.slug() }}
        {% if form.slug.errors %}
            <div class="text-danger">{{ form.slug.errors[0] }}</div>
        {% endif %}
    </div>
    <div class="col">
        {{ form.description.label(class="form-label") }}
        {{ form.description() }}
        {% if form.description.errors %}
            <div class="text-danger">{{ form.description.errors[0] }}</div>
        {% endif %}
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary px-5" name="submit">{% if not term %} {{ button_add }} {% else %} {{ button_edit }} {% endif %}</button>
    </div>
</form>
{% block scripts %}
    <script>
        function ChangeToSlug(text) {
            let slug = text.toLowerCase();

            slug = slug.replace(/á|à|ả|ạ|ã|ă|ắ|ằ|ẳ|ẵ|ặ|â|ấ|ầ|ẩ|ẫ|ậ/gi, 'a');
            slug = slug.replace(/é|è|ẻ|ẽ|ẹ|ê|ế|ề|ể|ễ|ệ/gi, 'e');
            slug = slug.replace(/i|í|ì|ỉ|ĩ|ị/gi, 'i');
            slug = slug.replace(/ó|ò|ỏ|õ|ọ|ô|ố|ồ|ổ|ỗ|ộ|ơ|ớ|ờ|ở|ỡ|ợ/gi, 'o');
            slug = slug.replace(/ú|ù|ủ|ũ|ụ|ư|ứ|ừ|ử|ữ|ự/gi, 'u');
            slug = slug.replace(/ý|ỳ|ỷ|ỹ|ỵ/gi, 'y');
            slug = slug.replace(/đ/gi, 'd');

            slug = slug.replace(/[^a-z0-9\s-]/g, '');      // Xóa ký tự đặc biệt
            slug = slug.trim().replace(/\s+/g, '-');       // Đổi khoảng trắng thành dấu gạch ngang
            slug = slug.replace(/-+/g, '-');               // Gộp dấu gạch ngang

            return slug;
        }

        document.getElementById('title').addEventListener('input', function () {
            const title = this.value;
            const slug = ChangeToSlug(title);
            document.getElementById('slug').value = slug;
        });
    </script>
{% endblock %}